<nav class="header-wrap">
    <div class="container header"><a href="/partner-tools/#/"><div class="pull-left header-logo"></div></a>
        <div class="pull-right">
            <div ng-if="controller.userInfo">
                <div class="dropdown">
                    <div class="dropdown-toggle" data-toggle="dropdown" style="cursor:pointer;">
                        {{controller.userInfo.given_name}} {{controller.userInfo.family_name}}
                        <span class="caret"></span>
                    </div>
                    <div>
                        ACCT # {{controller.sapAccountNumber}}
                    </div>
                    <ul class="dropdown-menu">
                        <li><a href="" ng-click="controller.logout()">logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>